:host {
  display: block;
}

.inside-div {
  align-items: center;
  justify-content: center;
  width: 400%;
  text-align: center;

}

.spacer {
  flex: 5 5 auto;
}


.info-text {
  text-align: center;
}

table {
  border-spacing: 1em 0.5em;
  padding: 0 0.5em 0.5em 0;

  margin-left: 5.5em;

}

.inline {
  display: inline;
}

h4 {
  display: inline;
}

.expansion {
  background-color: #0b3a35cb;
}

.header-table {
  border-spacing: 1em 0.5em;
  padding: 0 2em 1em 0;

  margin-left: 5.3em;
  font-family:Arial, Helvetica, sans-serif;
}

.search-bar {
  border-spacing: 1em 0.5em;
  margin-left: 4em;
  font-family:Arial, Helvetica, sans-serif;
}

.buttons {
margin-right: 20px !important;
margin-left: 20px;
display: flex;
}

h2 {
  color: #ffce2b;
  margin-top: 5px;
}

mat-form-field {
  margin-left: 20px;
  width: 15%;
}

td {
  width: 178px;
  height: 1.5em;
  text-align: center;
  vertical-align: middle;

}

.action-bar {
  border: none;
}

.background {
  background-color: #ffce2b;
}
.td-wide {
  width: 200px;
}

h3 {
  color: #ffce2b;
}

.scrollable {
  overflow: auto;
  max-height: 40vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b3a35;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
