


<mat-card>

  <h2 class="center">EMPLOYEE RECORDS</h2>
  <div class="navbar-form search-bar">
    <form (submit)="onSearch(searchForm)" #searchForm="ngForm">
    <div class="form-group">
      <h3>Search By:</h3>
      <mat-form-field><input (keyup.enter)="onSearch(searchForm)" (keyup.esc)="onClear(searchForm)"
                      matInput type="text" class="form-control" name="firstName" id="firstName"
                      autocomplete="off" placeholder="First Name" [(ngModel)]="searchFirstNameText" #firstName="ngModel"></mat-form-field>
      <mat-form-field><input (keyup.enter)="onSearch(searchForm)" (keyup.esc)="onClear(searchForm)"
                      matInput type="text" class="form-control" name="lastName"
                      autocomplete="off" placeholder="Last Name" [(ngModel)]="searchLastNameText"></mat-form-field>
      <mat-form-field><input (keyup.enter)="onSearch(searchForm)" (keyup.esc)="onClear(searchForm)"
                      matInput type="text" class="form-control" name="tNumber"
                      autocomplete="off" placeholder="T-Number" [(ngModel)]="searchtNumberText"></mat-form-field>
      <mat-form-field><input (keyup.enter)="onSearch(searchForm)" (keyup.esc)="onClear(searchForm)"
                      matInput type="text" class="form-control" name="job"
                      autocomplete="off" placeholder="Job/Assignment" [(ngModel)]="searchJobText"></mat-form-field>
      <mat-form-field><input (keyup.enter)="onSearch(searchForm)" (keyup.esc)="onClear(searchForm)"
                      matInput type="text" class="form-control" name="employmentStatus"
                      autocomplete="off" placeholder="Employment Status" [(ngModel)]="searchEmpStatusText"></mat-form-field>
    </div>
    <div class="buttons">
    <button class="login-button buttons" type="button" (click)="onSearch(searchForm)" mat-raised-button color="primary">Search</button>
    <button class="login-button buttons" type="button" (click)="onClear(searchForm)" mat-raised-button color="accent">Clear</button>
    </div>
  </form>
  </div>

</mat-card>
<mat-card *ngIf="isSearched && (searchFirstNameText !==''
                                || searchLastNameText !==''
                                || searchtNumberText !==''
                                || searchJobText !== ''
                                || searchEmpStatusText !== '')">

  <mat-card-content class="scrollable">
    <table class="header-table">
      <td class="td-wide"><h3>T-Number</h3></td>
      <td><h3>First Name</h3></td>
      <td><h3>Last Name</h3></td>
      <td ><h3>Job/Assignment Detail</h3></td>
      <td ><h3>Employment Status</h3></td>
      <td ><h3>Employment Dates</h3></td>
      <td><h3>Salary</h3></td>
    </table>



    <mat-accordion multi="true" *ngIf="employees.length > 0">
      <mat-expansion-panel *ngFor="let emp of (employees
                                              | searchByFirstName: searchFirstNameText.toUpperCase()
                                              | searchByLastName: searchLastNameText.toUpperCase()
                                              | searchBytNumber: searchtNumberText.toUpperCase())
                                              | searchByJob: searchJobText.toUpperCase()
                                              | searchByEmploymentStatus : searchEmpStatusText.toUpperCase()">

        <mat-expansion-panel-header>
          <table>
          <td> {{ emp.tNumber }} </td>
          <td> {{ emp.firstName }} </td>
          <td> {{ emp.lastName }}  </td>
          <td> {{ emp.job }}  </td>
          <td> {{ emp.employmentStatus}} </td>
          <td> {{ emp.employmentStartDate | date:'MM/dd/yyyy'}} - {{emp.employmentTerminationDate | date:'MM/dd/yyyy'}} </td>
          <td> ${{ emp.salary }}</td>
        </table>
        </mat-expansion-panel-header>
        <table>
        <td><h3>DOB:</h3> &nbsp;    {{ emp.DOB | date:'MM/dd/yyyy'}}</td>
        <td><h3>SSN:</h3> &nbsp; {{ emp.SSN }} </td>
        <td><div class="inside-div"><h3>Salary Breakdown</h3>
          <div class="">
         <h4>Total Salary: </h4>  ${{emp.salary}} &nbsp;
          <h4>Contract Length (months): </h4>  {{ emp.contractLength }} &nbsp;
          <h4>Monthly Payments: </h4> ${{ emp.salary / emp.contractLength}}
        </div>
        </div></td>

        </table>
        <mat-action-row class="action-bar">
        <a mat-button [routerLink]="['/manage', emp.id]" color="accent">MANAGE</a>
          <button mat-button color="warn" (click)="onDelete(emp.id)">DELETE</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <p class="info-text mat-body-1" *ngIf="employees.length <= 0">No Results Found</p>
  </mat-card-content>
</mat-card>



